<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin Tabs</title>
    </head>
    <body>
        <div th:fragment="add_user_form"
             class="tab-pane fade"
             th:classappend="${currentTab == 'add_user_form'} ? 'show active'">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                        <!--/*@thymesVar id="addedUser" type="edu.kata.spring_boot_security.entity.User"*/-->
                        <form method="post"
                              th:Object="${addedUser}"
                              th:action="@{/admin/add/}">
                            <div class="mb-3">
                                <label for="firstname_field"
                                       class="form-label text-center d-block">
                                    <strong>First name</strong>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="firstname_field"
                                       placeholder="Firstname"
                                       autocomplete="given-name"
                                       th:field="*{firstname}"
                                       required>
                                <label for="lastname_field"
                                       class="form-label text-center d-block">
                                    <strong>Last name</strong>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="lastname_field"
                                       placeholder="Lastname"
                                       autocomplete="family-name"
                                       th:field="*{lastname}"
                                       required>
                                <label for="age_field"
                                       class="form-label text-center d-block">
                                    <strong>Age</strong>
                                </label>
                                <input type="number"
                                       class="form-control"
                                       id="age_field"
                                       placeholder="Age"
                                       th:field="*{age}"
                                       required>
                                <label for="login_field"
                                       class="form-label text-center d-block">
                                    <strong>Login</strong>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="login_field"
                                       placeholder="Login"
                                       autocomplete="username"
                                       th:field="*{username}"
                                       required>
                                <label for="password_field"
                                       class="form-label text-center d-block">
                                    <strong>Password</strong>
                                </label>
                                <input type="password"
                                       class="form-control"
                                       id="password_field"
                                       placeholder="Password"
                                       autocomplete="new-password"
                                       th:field="*{password}"
                                       required>
                                <label for="roles_select"
                                       class="form-label text-center d-block">
                                    <strong>Roles</strong>
                                </label>
                                <select class="form-select w-100"
                                        th:field="*{roles}"
                                        th:default="${allRoles.getFirst()}"
                                        id="roles_select"
                                        multiple
                                        required>
                                    <option th:each="role : ${allRoles}"
                                            th:value="${role.id}"
                                            th:text="${role.name}">
                                    </option>
                                </select>
                                <button class="btn btn-success" type="submit">Add new user</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="user_list"
             class="tab-pane fade"
             th:classappend="${currentTab == 'user_list'} ? 'show active'">
            <h2>All users</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Age</th>
                    <th scope="col">Username</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userList}">
                    <!--/*@thymesVar id="user" type="edu.kata.spring_boot_security.entity.User"*/-->
                    <td th:utext="${user.id}">#</td>
                    <td th:utext="${user.firstname}"></td>
                    <td th:utext="${user.lastname}"></td>
                    <td th:utext="${user.age}"></td>
                    <td th:utext="${user.username}"></td>
                    <td th:text="${#strings.listJoin(user.authorities.![name], ' ')}"></td>
                    <td>
                        <button class="btn btn-success"
                                data-bs-toggle="modal"
                                data-bs-target="#editModal"
                                th:onclick="'loadUser(' + ${user.id} + ')'">
                            Edit
                        </button>
                    </td>
                    <td>
                        <!--/*@thymesVar id="user" type="edu.kata.spring_boot_security.entity.User"*/-->
                        <form th:action="@{/admin/delete/}" th:object="${user}" th:method="post">
                            <input type="hidden" th:value="*{id}" name="id">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="editFormContainer"></div>
                    </div>
                </div>
            </div>

            <div layout:fragment="scripts">
                <script th:inline="javascript">
                    function loadUser(userId) {
                        fetch('/admin/update?id=' + userId)
                            .then(response => response.text())
                            .then(html => {
                                document.getElementById('editFormContainer').innerHTML = html;
                            });
                    }
                </script>
            </div>
        </div>
    </body>
</html>