<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div th:fragment="deleteForm">
            <!--/*@thymesVar id="user" type="edu.kata.spring_boot_security.entity.User"*/-->
            <form th:action="@{/admin/delete/}"
                  th:object="${user}"
                  method="post">
                <div class="mb-3">
                    <label for="id_field"
                           class="form-label text-center d-block">
                        <strong>ID</strong>
                    </label>
                    <input type="text"
                           class="form-control"
                           id="id_field"
                           th:field="*{id}"
                           disabled>
                    <input type="hidden"
                           th:field="*{id}">
                </div>

                <div class="mb-3">
                    <label for="firstname_field"
                           class="form-label text-center d-block">
                        <strong>First name</strong>
                    </label>
                    <input type="text"
                           id="firstname_field"
                           class="form-control"
                           th:field="*{firstname}"
                           disabled>
                </div>

                <div class="mb-3">
                    <label for="lastname_field"
                           class="form-label text-center d-block">
                        <strong>Last name</strong>
                    </label>
                    <input type="text"
                           id="lastname_field"
                           class="form-control"
                           th:field="*{lastname}"
                           disabled>
                </div>

                <div class="mb-3">
                    <label for="age_field"
                           class="form-label text-center d-block">
                        <strong>Age</strong>
                    </label>
                    <input type="number"
                           id="age_field"
                           class="form-control"
                           th:field="*{age}"
                           disabled>
                </div>

                <div class="mb-3">
                    <label for="login_field"
                           class="form-label text-center d-block">
                        <strong>Login</strong>
                    </label>
                    <input type="text"
                           class="form-control"
                           id="login_field"
                           th:field="*{username}"
                           disabled>
                </div>

                <div class="mb-3">
                    <label for="password_field"
                           class="form-label text-center d-block">
                        <strong>Password</strong>
                    </label>
                    <input type="password"
                           class="form-control"
                           id="password_field"
                           th:field="*{password}"
                           disabled>
                </div>

                <div class="mb-3">
                    <label for="roles_select"
                           class="form-label text-center d-block">
                        <strong>Roles</strong>
                    </label>
                    <select class="form-select w-100"
                            th:field="*{roles}"
                            id="roles_select"
                            multiple
                            disabled>
                        <option th:each="role : ${allRoles}"
                                th:value="${role.id}"
                                th:text="${role.name}">
                        </option>
                    </select>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                    <button type="submit"
                            class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </body>
</html>