<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>List of users</title>
        <link th:href="@{/css/main_style.css}" rel="stylesheet" />
    </head>

    <body>
        <main layout:fragment="content">
            <h1>List of users</h1>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Age</th>
                        <th scope="col" colspan="2">
                            <form th:action="@{/admin/add_user/}" th:method="get">
                                <button class="add_symbol" type="submit"></button>
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${userList}">
                        <div th:if="${(beingUpdateUser == null) || (user.id != beingUpdateUser.id)}">
                            <td th:utext="${user.id}">Id</td>
                            <td th:utext="${user.firstname}">Firstname</td>
                            <td th:utext="${user.lastname}">Lastname</td>
                            <td th:utext="${user.age}">Lastname</td>
                            <td>
                                <form th:action="@{/admin/update/}" th:object="${user}" th:method="get">
                                    <input type="hidden" th:value="*{id}" name="id">
                                    <button class="update_symbol" type="submit"></button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{/admin/delete/}" th:object="${user}" th:method="post">
                                    <input type="hidden" th:value="*{id}" name="id">
                                    <button class="remove_symbol" type="submit"></button>
                                </form>
                            </td>
                        </div>
                        <div th:if="${(beingUpdateUser != null) && (user.id == beingUpdateUser.id)}">
                            <form method="post" th:Object="${beingUpdateUser}" th:action="@{/admin/update/}" >
                                <td th:utext="*{id}">Id</td>
                                <td><input th:field="*{firstname}" type="text"/></td>
                                <td><input th:field="*{lastname}" type="text"/></td>
                                <td><input th:field="*{age}" type="number"/></td>
                                <td>
                                    <input type="hidden" th:value="*{id}" name="id">
                                    <button class="add_symbol" type="submit"></button>
                                </td>
                            </form>
                                <td>
                                    <form th:action="@{/admin/delete/}" th:object="${user}" th:method="post">
                                        <input type="hidden" th:value="*{id}" name="id">
                                        <button class="remove_symbol"></button>
                                    </form>
                                </td>
                        </div>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>