<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Data</title>
        <link th:href="@{/css/main_style.css}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <form th:action="@{/logout}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">Logout</button>
            </form>
        </header>
        <table>
            <tbody>
                <tr>
                    <td><label for="username">Login: </label></td>
                    <td><label id="username" th:text="*{user.username}"></label></td>
                </tr>
                <tr>
                    <td><label for="firstName">First Name:</label></td>
                    <td><label id="firstName" th:text="*{user.firstname}"></label></td>
                </tr>
                <tr>
                    <td><label for="lastName">Last Name:</label></td>
                    <td><label id="lastName" th:text="*{user.lastname}"></label></td>
                </tr>
                <tr>
                    <td><label for="age">Nickname: </label></td>
                    <td><label id="age" th:text="*{user.age}"></label></td>
                </tr>
                <tr>
                    <td><label for="roles">Roles:</label></td>
                    <td>
                        <div>
                            <th:block th:each="role : ${user.getAuthorities()}" id="roles">
                                <label th:text="${role.name}"></label><br/>
                            </th:block>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>