<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Data</title>
        <link th:href="@{/css/main_style.css}" rel="stylesheet" />
    </head>
    <body>
        <main layout:fragment="content">
            <table>
                <tbody>
                    <tr>
                        <td><label for="username">Login: </label></td>
                        <td><label id="username" th:text="*{user.username}"></label></td>
                    </tr>
                    <tr>
                        <td><label for="firstName">First Name:</label></td>
                        <td><label id="firstName" th:text="*{user.firstname}"></label></td>
                    </tr>
                    <tr>
                        <td><label for="lastName">Last Name:</label></td>
                        <td><label id="lastName" th:text="*{user.lastname}"></label></td>
                    </tr>
                    <tr>
                        <td><label for="age">Nickname: </label></td>
                        <td><label id="age" th:text="*{user.age}"></label></td>
                    </tr>
                    <tr>
                        <td><label for="roles">Roles:</label></td>
                        <td>
                            <div>
                                <th:block th:each="role : ${user.getAuthorities()}" id="roles">
                                    <label th:text="${role.name}"></label><br/>
                                </th:block>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>